.hero {
    background-color: #FDFFF5;
    color: #7B956B;
}
body {
    background-color: #FDFFF5;
}
.hero__description {
    color: #7B956B;
}
.menu__btn-signup {
    color: #FFFFFF;
    border: none;
    background-color: #849F7A;
}
.menu__btn-signup:hover {
    color: #FFFFFF;
    border: none;
    background-color: #849F7A;
}
.discount-quiz {
    background-color: #FDFFF5;
}
.question_block {
    background-color: #FDFFF5;
}
/* .feedback-survey {
    background-color: #FDFFF5;
} */

.menu__btn-signup-top {
    color: #000;
    border-radius: 12px;
    background-color: #FFDC5D;
    box-shadow: 0px 4px 12px rgba(132, 159, 122, 0.1);
}
.menu__btn-signup-top:hover {
    color: #FFFFFF;
    border: none;
    background-color: #849F7A;
}
.menu__btn-detailed {
    background-color: transparent;
    color: #7B956B;
    border-color: #7B956B;
    transition: all 0.5s ease;
}
.menu__btn-detailed:hover {
    background-color: #849F7A;
    color: #FFFFFF;
}
header{
    background-color: #8FA888;
    color: #fff !important;
}
.menu__link {
    color: #fff !important;
}

.staff {
    background-color: #FDFFF5;
}

.title {
    color: #849F7A;
}
.slider__btn {
    color: #849F7A;
    border-color: #849F7A;
}

.slide {
    position: relative;
    box-shadow: rgba(132, 159, 122, 0.1);
}

.wrap__img {
    background-image: url(../img/hero.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 46%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews {
    background-color: #FDFFF5;
    padding-bottom: 125px;
}
.review-card {
    background-color: #F2F6EF;
    box-shadow: 0px 4px 12px rgba(132, 159, 122, 0.1);
}
.prev2, .next2 {
    border-color: #849F7A;
    color: #849F7A;
}
.stars {
    color: #F2D88C;
}
.review-card__text h3, .review-card__date {
    color: #7B956B !important;
}
.review-card__text h3 {
    color: #4F4F4F;
}
.review-card__btn {
    background-color: #FFDC5D;
}
.scroll-to-top {
    background-color: #8fa387;
}
.scroll-to-top:hover {
    background-color: #849F7A;
}
.review-card__image:nth-child(1) {
    background-image: url(../img/r1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.review-card__image:nth-child(2) {
    background-image: url(../img/r2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.review-card__image:nth-child(3) {
    background-image: url(../img/r3.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.services {
    background-color: #FDFFF5;
}
.service__header span {
    color: #7B956B;
}
.service__header button {
    color: #849F7A;
}
.service__header button:hover {
    color: #6D8A63;
}
.service {
    border-top: 1px solid #E1E6DD;
    border-bottom: 1px solid #E1E6DD;
}
.service__content p {
    color: #6A6A6A;
}
.footer {
    background-color: #E9EFE4;
    color: #7B956B;
}
.footer a{
    color: #7B956B;
}
.footer a:hover{
    color: #849F7A;
}
.footer__bottom, .footer__bottom a {
    color: #A5B3A0;
}
.footer__column .footer__form input {
    background-color: #FAF9F5;
    border: 1px solid #D6E0D0;
    color: #4F4F4F;
}
.footer__column .footer__form button {
    background-color: #FFDC5D;
    color: #000;
}
.footer__column .footer__form button:hover {
    background-color: #6D8A63;
    color: #fff;
}
.footer__socials a img {
    color: #FFDC5D;
}

.row {
    display: flex;
    align-items: center;
}

.slide:hover .plash {
    background-color: #6a6a6aa1;
}
.service__header {
    cursor: pointer;
}