.slider {
	overflow: hidden;
  }
  
  .slider__track {
	display: flex;
	transition: transform 0.5s ease;
	gap: 80px;
  }
  
  .slide {
	min-width: calc((100% - 160px) / 3); /* 3 карточки на экране + gap */
	background: #ccc;
	height: 300px;
	border-radius: 4px;
	position: relative;
  }
  
  .slide::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background: #999;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  
  .slider__controls {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
  }
  
  .slider__btn {
	background: none;
	border: 2px solid #333;
	border-radius: 50%;
	font-size: 24px;
	width: 40px;
	height: 40px;
	cursor: pointer;
  }
  
  /**/


  .slider2 {
	overflow: hidden;
  }
  
  .slider__track_2 {
	display: flex;
	transition: transform 0.5s ease;
	gap: 80px;
  }
  .slider-2__track {
	gap: 80px;
  }

  .review-card {
	background: #f2f2f2;
	border-radius: 8px;
	padding: 20px;
	min-width: calc((100% - 80px) / 2);
	box-sizing: border-box;
	border: 2px solid transparent;
  }

  .review-card.active {
	border-color: #2692ff;
  }

  .review-card__content {
	display: flex;
	gap: 20px;
  }

  .review-card__image {
	width: 120px;
	height: 180px;
	background: #d3d3d3;
	flex-shrink: 0;
  }

  .review-card__text {
	flex: 1;
	display: flex;
	flex-direction: column;
  }

  .review-card__text h3 {
	margin: 0 0 5px;
	font-size: 20px;
  }

  .stars {
	font-size: 18px;
	color: #222;
	margin-bottom: 5px;
  }

  .review-card__date {
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
  }

  .review-card__btn {
	margin-top: auto;
	padding: 6px 12px;
	background: #ddd;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	align-self: start;
  }

  @media (max-width: 768px) {
	.review-card {
	  min-width: 100%;
	}

	.slider-1__track {
	  gap: 40px;
	}
  }