@font-face {
  font-family: 'uncage';
  src: url('../fonts/uncage-4.woff2') format('woff2');
}
@font-face {
  font-family: 'rubik';
  src: url('../fonts/Rubik-Light.woff') format('woff');
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  font-family: 'rubik';
  background: #f4f8f3;
}
div[class$="__container"] {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}
ul, ol{
  list-style: none;
}
:root {
  --main: #D9D9D9;
  --light-green: #D9EDC3;
  --milk: #F2F0E7;
  --pastel-yellow: #FBEAA3;
  --salat: #EEFCDB;
  --grass-green: #BEE4A3;
}
a {
  text-decoration: none;
  color: #000;
}
.btn-reset {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a[class$="__link"] {
  text-decoration: none;
  list-style-type: none;
  color: #000;
} 

/*======= header =======*/
header {
  padding: 35px 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__body {
  align-items: center;
  transition: all 0.5s ease;
}
.menu__list {
  display: flex;
  gap: 80px;
  align-items: center;
}
.menu__link {
  font-family: Rubik;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all 0.4s ease;
}
header .menu__link:hover {
  text-decoration: underline;
}
.menu__icon {
  display: none;
}
.menu__btn-signup {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  padding: 9px 36px 11px 36px;
  transition: all 0.4s ease;
  text-align: center;
}
.menu__btn-signup:hover {
  background-color: #000;
  color: #fff;
}
.menu__list-sub {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  transform: translateY(-200%);
  transition: all 0.4s ease;
}
.menu__list-sub.active {
  transform: translateY(0%)
}
.title {
  font-family: 'uncage';
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase; 
}
.icon-menu {
  display: none;
  width: 35px;
  height: 25px;
  position: relative;
cursor: pointer;
}
.icon-menu span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFDC5D;
  transition: all 0.5s ease 0s;
}
.icon-menu span:nth-child(1) {
  top: 0;
  left: 0;
}
.icon-menu span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.icon-menu span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.icon-menu._active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.icon-menu._active span:nth-child(2) {
  transform: translateX(-40px);
  opacity: 0;
  overflow: hidden;
}
.icon-menu._active span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -10px);
}
._active {
  transform: translateX(0);
}

/*=====================*/

/*======= footer =======*/
.footer {
  background: #EAEAEA;
  padding: 40px 20px;
  font-family: sans-serif;
  color: #333;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 30px;
}

.footer__logo {
  width: 150px;
  height: 60px;
  margin-bottom: 20px;
  background-image: url(../img/icons/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__socials a {
  margin-right: 10px;
}

.footer__column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer__column ul {
  list-style: none;
  padding: 0;
}

.footer__column ul li {
  margin-bottom: 8px;
}

.footer__column a {
  color: #333;
  text-decoration: none;
}
.footer__column h4 {
  padding-bottom: 5px;
}
.footer__column a:hover {
  text-decoration: underline;
}

.footer__form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.footer__form button {
  width: 100%;
  padding: 10px;
  background: #ccc;
  border: none;
  cursor: pointer;
}

.footer__bottom {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/*=====================*/

/*======= btn-up =======*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--main); /* Зеленый цвет */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 123;
}

.scroll-to-top::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 4px solid white;
  border-top: 4px solid white;
  transform: rotate(45deg);
  margin-bottom: -6px;
}

.scroll-to-top:hover {
  background-color: grey;
  transform: scale(1.1);
}

.scroll-to-top.show {
  opacity: 1;
}
/*=====================*/
.decoaration {
  color: #999;
}

.icon-menu {
  display: block;
}
.hero__description p {
  font-size: 16px;
  padding: 5px 0;
  font-weight: 500;
}
.header__center p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 2px 0;
}
/* .header__menu {
  position: relative; 
  top: 0;
  left: 0;
  z-index: 100;
}  */
.header_ {
  position: relative;
  width: 100%;
}
.menu__body {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 35%;
  min-height: 80vh;
  background-color: rgba(143, 168, 136, 0.5);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.menu__body._active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.menu__body .menu__list {
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.menu__body .menu__link {
  display: block;
  width: 100%;
  text-align: center;
}
.menu__body .menu__item {
  display: block;
  width: 100%;
  text-align: center;
}

.header__menu .row .footer__column p {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__menu .row .footer__column p img{
  width: 24px;
  height: 24px;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
button, a {
  cursor: pointer;
}
.feedback-survey {
  background-image: url(../img/opros.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 50%;
}
